# Created by .ignore support plugin (hsz.mobi)
*.iml
.log
*.log
*/logs/*
*.log.*
.class
*.class
.project
.settings
.classpath
.gitignore
*.gitignore
.DS_Store
gradle/
*/gradle/
*/gradle/*
/.settings/
/.idea/
*/.idea/
*/.idea/*
/target/
*/target/
*/target/*
.ipynb_checkpoints
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.jpg
samples/h5py/data.h5
samples/tensorflow/
*.h5
